---
title: Upgrading Cloud Service Broker for GCP
owner: Cloud Service Broker
---

Would you like to upgrade <%= vars.product_full %>? This topic tells you about the
[upgrade procedure](#procedure), [upgrading service instances](#upgrade-instances), and specific
details about [upgrading to v1.3](#upgrading-specifics).

## <a id="procedure"></a> Upgrade procedure

To upgrade <%= vars.product_short %>:

1. Before you stage the new tile version,
   [ensure that all service instances are up to date](#upgrade-instances).
   Installation stops if there are any outdated instances, and you cannot use Tanzu Operations Manager
   to add or edit any plans. If your installation stops,
   [manually upgrade any outdated instances](#upgrading-cli-plugin) before trying to install the
   software again.

2. Download the new version of <%= vars.product_short %> from
   [<%= vars.product_network %>](https://network.tanzu.vmware.com/products/cloud-service-broker-gcp/).

3. Stage and configure the tile by following the instructions in
   [Installing with GCP](installing-with-gcp.html.md.erb).

4. Make all the changes described in [Upgrade to v1.3](#upgrading-specifics).

5. Verify that your configuration complies with the
   [important notes about upgrading service instances](#upgrade-notes), especially regarding upgrading
   all instances, plans, and beta offerings.

6. Go to the <%= vars.ops_manager %> Installation Dashboard.

7. Click **Review Pending Changes** and then click **Apply Changes**.

8. Review the `deploy-all` errand logs for any errors created because of the upgrade instances task.

## <a id="upgrade-instances"></a> Verify that service instances are up to date before upgrading the tile

You might be unable to upgrade service instances that you did not upgrade with an earlier version of
the tile. A step in the installation phase stops the process if there are any outdated instances.

For these reasons, verify that there are no service instances pending upgrade before staging the new
version of the tile.

You can see whether there are instances with a pending upgrade by using the CLI plug-in.
For more information, see
[ensuring all instances are up to date with the CLI plug-in](#checking-cli-plugin).

### <a id="upgrade-notes"></a> Important notes about upgrading service instances

Before you start upgrading service instances, see the following notes:

- **Select the Upgrade all services check box:**

  If the **Upgrade all services** check box is not selected, service instances
  are not upgraded during installation. These instances become unmanageable by
  the broker. Any operations on that instance, such as update, bind, unbind, or
  delete, are blocked until you run the upgrade task. You can run the upgrade
  task at any time before upgrading the product to a later version. For
  information about how to configure this task, see [Upgrade All Service
  Instances configuration](installing-with-gcp.html.md.erb#upgrade-all-config).
  Alternatively, run the upgrade at a later stage using the [CLI
  plug-in](#upgrading-cli-plugin).

- **Select the Enable Beta offerings check box:**

  If the **Enable Beta offerings** check box is not selected when applying
  changes, instances from those service offerings are not upgraded. These
  instances become unmanageable by the broker. Verify that the **Enable Beta
  offerings** check box is selected if you have instances from those offerings
  that you intend to keep updated.

- **Deleting custom plans:**

  If you delete custom plans before upgrading all instances, instances from
  these plans are not upgraded. These instances become unmanageable by the
  broker. Delete plans after upgrading all instances, or see [Release Notes for
  Cloud Service Broker for GCP](release-notes.html.md.erb) and [Upgrading to
  v1.3](#upgrading-specifics) to prevent conflicting upgrades.

- **Only upgrade the tile after all service instances are up to date:**

  You can run the upgrade all instances task as many times as needed. If
  you prefer, run the upgrade all instances task by using the cf CLI
  instead of, or in addition to, running it through the tile. Failure to upgrade
  one or more instances does not cause the tile installation to fail. Review the
  `deploy all` errand logs to verify that all instances have upgraded.

### <a id="checking-cli-plugin"></a> Verify that all instances are up to date with the CLI plug-in

To verify that no instances are pending upgrade:

1. Install the [cf CLI UpgradeAllServices plugin](https://plugins.cloudfoundry.org/#UpgradeAllServices)
   on Cloud Foundry.

2. Follow the instructions in the **Usage** section of the `README` in the
   [upgrade-all-services-cli-plugin](https://github.com/cloudfoundry/upgrade-all-services-cli-plugin#usage)
   GitHub repository to perform a `dry-run` or `check-up-to-date` command.

   `dry-run` example:

   ```console
   $ cf upgrade-all-services BROKER-NAME -dry-run
   ```

   `check-up-to-date` example:

   ```console
   $ cf upgrade-all-services BROKER-NAME -check-up-to-date
   ```

   These commands provide a list, from enabled plans, of instances that are pending upgrades.
   Upgrade all the instances listed before attempting a tile upgrade.

### <a id="upgrading-cli-plugin"></a> Upgrade instances through the CLI plug-in

To use the cf CLI plug-in to upgrade instances:

1. Install the [cf CLI UpgradeAllServices plugin](https://plugins.cloudfoundry.org/#UpgradeAllServices)
   on Cloud Foundry.

2. Run the upgrade by following the instructions in the **Usage** section of the `README` in the
   [upgrade-all-services-cli-plugin](https://github.com/cloudfoundry/upgrade-all-services-cli-plugin#usage)
   GitHub repository.

   For example:

   ```console
   $ cf upgrade-all-services BROKER-NAME
   ```

## <a id="upgrading-specifics"></a> Upgrade to v1.3

There are currently no notes for upgrading to v1.3.