---
title: Upgrading Cloud Service Broker for GCP
owner: Cloud Service Broker
---

This topic describes how to upgrade <%= vars.product_full %>.

## <a id="upgrade-to-1-1"></a> Upgrading from v1.0 to v1.1

If you have Redis or Dataproc instances created with previous versions of the <%= vars.product_short %>
without explicitly passing a value for `instance_id` for Redis or `name` for Dataproc, you must
update those instances before installing this version.

For Redis instances, run:

```console
cf update-service YOUR-REDIS-SI -c '{"instance_id":"CURRENT-NAME-FROM-GCP-CONSOLE"}'
```

For Dataproc instances, run:

```console
cf update-service YOUR-DATAPROC-SI -c '{"name":"CURRENT-NAME-FROM-GCP-CONSOLE"}'
```

## <a id="upgrade-to-1-0"></a> Upgrading from beta to v1.0

Because of differences in the PostgreSQL service offering, it is not possible to upgrade beta
instances to v1.0.
You must delete all previously created service instances before upgrading <%= vars.product_short %>
from v0.2 to v1.0.

To retain beta instances in the IaaS, remove them from Cloud Foundry.
<%= vars.product_short %> no longer manages these instances.

To remove the instances from Cloud Foundry, run the command:

```console
cf purge-service-instance
```

## <a id="procedure"></a> Upgrade procedure

To upgrade the <%= vars.product_short %> to a later version:

1. Download the new version of <%= vars.product_short %> from [<%= vars.product_network %>](https://network.pivotal.io/products/cloud-service-broker-gcp/).
1. Follow the procedure in [Installing with GCP](installing-with-gcp.html).
1. If you are upgrading to a version later than v1.0, service instances might need to be upgraded.
Before installing the new version, see [Upgrade All Service Instances Config](installing-with-gcp.html#upgrade-all-config)
