---
title: Upgrading Cloud Service Broker for GCP
owner: Cloud Service Broker
---

This topic describes how to upgrade <%= vars.product_full %>.

## <a id="upgrade-to-1-0"></a> Upgrading from Beta to 1.0

Due to differences in the PostgreSQL service offering, it is not possible to upgrade
beta instances to v1.0.
You must delete all previously created service instances before upgrading <%= vars.product_short %> from v0.2 to v1.0.

If you want to retain beta instances in the IaaS, you can remove them from Cloud Foundry.
<%= vars.product_short %> will no longer manage these instances.

To remove the instances from Cloud Foundry, run the command:

```
cf purge-service-instance
```

## <a id="procedure"></a> Upgrade Procedure

To upgrade the <%= vars.product_short %> to a later version:

1. Download the new version of <%= vars.product_short %> from [<%= vars.product_network %>](https://network.pivotal.io/products/cloud-service-broker-gcp/).
1. Follow the procedure in [Installing with GCP](installing-with-gcp.html).
