---
title: Google MySQL Reference (Beta)
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

<p class="note warning">
  <strong>Warning: </strong>
  The Google MySQL service offering is currently in beta and is intended for evaluation and test
  purposes only.
  Do not use this product in a production environment.
</p>

This topic provides reference information about the Google MySQL service (csb-google-mysql).
It details the plans, configuration parameters, and binding credentials.

<p class="note">
  <strong>Note:</strong> Release v1.2.0 removes brokerpak pre-configured plans for MySQL.
  All plans must be configured through the tile.
  If you have instances of GCP MySQL that were created in previous versions and that you want to
  maintain, see <a id="#old-plans">Add previously provided pre-configured plans</a>.
  For more information about upgrade steps, see
  <a href="../upgrading.html.md.erb">Upgrading Cloud Service Broker for GCP</a>.
</p>

## <a id="plans-config"></a> Plan Configuration Parameters

When configuring <%= vars.product_short %> you can add additional plans.
For how to configure plans, see
[Configure Services with Cloud Service Broker for GCP](../installing-with-gcp.html.md.erb#services).

The following table lists parameters which can only be configured for additional plans:

| Parameter Name    | Values                                                                           | Default |
|-------------------|----------------------------------------------------------------------------------|---------|
| `name`*           | The plan name                                                                    | _n/a_   |
| `id`*             | A unique GUID                                                                    | _n/a_   |
| `description`*    | Description of the new plan                                                      | _n/a_   |
| `display_name`    | Name to use when displaying plan in marketplace                                  | _n/a_   |
| `free`            | When false, Service Instances of this Service Plan have a cost                   | true    |
| `bindable`        | Specifies whether Service Instances of the Service Plan can bind to applications | true    |
| `plan_updateable` | Whether the Plan supports upgrade/downgrade/sidegrade to another version         | true    |

<sup>*</sup> Required

You can also add any of the configuration parameters listed in the [parameters](#parameters) section to your plan.

To create plans with specific sizes and versions, set the `tier`, `storage_gb`, and `mysql_version`
properties.

<p class="note">
  <strong>Note:</strong> If you set a parameter at plan level, developers cannot
  change the value when creating or updating service instances.
</p>

## <a id="parameters"></a> Configuration Parameters

You can provision a service by running:

```bash
cf create-service csb-google-mysql PLAN-NAME SERVICE-INSTANCE-NAME -c '{"PARAMETER-NAME": "PARAMETER-VALUE"}'
```

You can update the configuration parameters for a service instance by running:

```bash
cf update-service SERVICE-INSTANCE-NAME -c '{"PARAMETER-NAME": "PARAMETER-VALUE"}'
```

The table below lists the parameters that you can configure, using the `-c` flag, when
provisioning a csb-google-mysql service:

<table>
  <thead>
    <tr>
      <th width="20%">Parameter Name</th>
      <th width="10%">Type</th>
      <th width="40%">Description</th>
      <th width="20%">Default</th>
      <th width="10%">Operation</th>
    </tr>
  </thead>
  <tr>
    <td><code>tier</code></td>
    <td>string</td>
    <td>
      Required unless defined in plan. This is the GCP database machine type.
      For more information, see the
      <a href="https://cloud.google.com/sql/docs/mysql/instance-settings">Google Cloud documentation</a>.
    </td>
    <td>""</td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>deletion_protection</code></td>
    <td>boolean</td>
    <td>
      Sets whether deletion protection is enabled. The database cannot be deleted when this value is set.
    </td>
    <td>false</td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>disk_autoresize</code></td>
    <td>boolean</td>
    <td>
      Enables auto-resizing of the storage size.
      When deactivating the storage auto-resizing, set value of the <code>disk_autoresize_limit</code>
      to 0.
    </td>
    <td>true</td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>disk_autoresize_limit</code></td>
    <td>number</td>
    <td>
      The maximum size in GB to which storage capacity can be automatically increased.
      The default value is 0, which specifies that there is no limit.
    </td>
    <td>0</td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>mysql_version</code></td>
    <td>string</td>
    <td>
      Required unless defined in plan. This is the version for the MySQL instance, and it can be any
      version that the provider supports.
    </td>
    <td>""</td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>storage_gb</code></td>
    <td>string</td>
    <td>
      Required unless defined in plan. Size of storage volume for service instance.
      To understand the limits, see the
      <a href="https://cloud.google.com/sql/docs/mysql/quotas#storage_limits">Google Cloud documentation</a>.
    </td>
    <td><code>10</code></td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>instance_name</code></td>
    <td>string</td>
    <td>Name for the mysql instance.</td>
    <td><code>csb-mysql-INSTANCE-ID</code></td>
    <td>provision</td>
  </tr>
  <tr>
    <td><code>db_name</code></td>
    <td>string</td>
    <td>Name for the database.</td>
    <td><code>csb-db</code></td>
    <td>provision</td>
  </tr>
  <tr>
    <td><code>region</code></td>
    <td>string</td>
    <td>
      The region of the MySQL instance.
    </td>
    <td><code>us-central1</code> </td>
    <td>provision</td>
  </tr>
  <tr>
    <td><code>authorized_network_id</code></td>
    <td>string</td>
    <td>
      The ID of the Google Compute Engine network to which the instance is connected.
      It has the format <code>https://www.googleapis.com/compute/v1/projects/PROJECT-NAME/global/networks/VPC-NAME</code>.
      The <code>https://www.googleapis.com/compute/v1/</code> prefix can be omitted.
    </td>
    <td>
      The value the operator entered for <strong>Authorized Network ID</strong> in <%= vars.ops_manager %>.
      If this is empty then the default network of the region is used.
    </td>
    <td>provision</td>
  </tr>
  <tr>
    <td><code>authorized_networks_cidrs</code></td>
    <td>array</td>
    <td>
      CIDR notation IPv4 or IPv6 addresses that are allowed to access this instance.
    </td>
    <td><code>[]</code> </td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>public_ip</code></td>
    <td>Boolean</td>
    <td>
      Assigns a static public IPv4 IP to the database.
      You must configure <code>authorized_networks_cidrs</code> on the selected network to enable access.
      For more information, see the <a href="https://cloud.google.com/sql/docs/mysql/configure-ip">Google Cloud documentation</a>.
    </td>
    <td><code>false</code> </td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>credentials</code></td>
    <td>string</td>
    <td>
      The GCP credentials.
    </td>
    <td>The value the operator entered for <strong>Credentials</strong> in <%= vars.ops_manager %>.</td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>backups_retain_number</code></td>
    <td>number</td>
    <td>
      The number of backups to retain. Setting this value to 0 deactivates the backups.
    </td>
    <td>7</td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>backups_location</code></td>
    <td>string</td>
    <td>
      The name of the GCP region in which to store the backup.
    </td>
    <td></td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>backups_start_time</code></td>
    <td>string</td>
    <td>
      Time in HH:MM format that indicates when the backup starts.
    </td>
    <td>07:00</td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>backups_transaction_log_retention_days</code></td>
    <td>number</td>
    <td>
      The number of days to retain the transaction logs. Setting this value to 0 deactivates
      transaction log backups. The transaction logs can be retained for up to 7 days.
    </td>
    <td>0</td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>highly_available</code></td>
    <td>boolean</td>
    <td>
      Enable regional high availability for the service instance. Requires transaction log backups to be enabled. See
      <a href="https://cloud.google.com/sql/docs/mysql/high-availability">Google Cloud Documentation</a> for more 
      details.
    </td>
    <td>false</td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td>location_preference_zone</td>
    <td>string</td>
    <td>
      Preferred zone in the instance region for the primary instance in a highly available setup. E.g. "a" or "c". When
      not specified, one of the available zones will be chosen automatically. See
      <a href="https://cloud.google.com/compute/docs/regions-zones#available">Google Cloud Documentation</a> for a list 
      of available zones.
    </td>
    <td>""</td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td>location_preference_secondary_zone</td>
    <td>string</td>
    <td>
      Preferred zone in the instance region for the standby instance in a highly available setup. E.g. "b" or "f". In a
      highly available configuration, when the secondary zone is not specified, a zone different from the one specified
      for the primary instance will be chosen automatically. See
      <a href="https://cloud.google.com/compute/docs/regions-zones#available">Google Cloud Documentation</a> for a list
      of available zones.
    </td>
    <td>""</td>
    <td>provision and update</td>
  </tr>
</table>

## <a id="binding-creds"></a> Binding Credentials

You can bind a service by running:

```bash
cf bind-service APP-NAME SERVICE-INSTANCE --binding-name BINDING-NAME
```

The format for binding credentials for Google MySQL is as follows:

```json
{
    "name" : "DATABASE-NAME",
    "hostname" : "DATABASE-SERVER-HOST",
    "port" : "DATABASE-SERVER-PORT",
    "username" : "AUTHENTICATION-USERNAME",
    "password" : "AUTHENTICATION-PASSWORD",
    "uri" : "DATABASE-CONNECTION-URI",
    "jdbcUrl" : "JDBC-FORMAT-CONNECTION-URL",
    "sslcert" : "SSL-CLIENT-CERT",
    "sslkey" : "SSL-CLIENT-CERT-KEY",
    "sslrootcert" : "SSL-ROOT-CERT"
}
```

## <a id="old-plans"></a> Add previously provided pre-configured plans

The following table lists the previously provided plans for GCP MySQL:

| Plan   | Description                                             |
|--------|---------------------------------------------------------|
| small  | MySQL v8.0, 2 cores, 8&nbsp;GB RAM, 10&nbsp;GB storage  |
| medium | MySQL v8.0, 4 cores, 16&nbsp;GB RAM, 10&nbsp;GB storage |
| large  | MySQL v8.0, 8 cores, 32&nbsp;GB RAM, 20&nbsp;GB storage |

To keep these plans in later versions of the broker, add them through the tile as custom plans.
For how to configure plans through the tile, see
[Configure Services with <%= vars.product_short %>](../installing-with-gcp.html.md.erb#services).

Add the following block to keep the `small` plan:

```json
{
    "name": "small",
    "id": "8809fe67-99b5-48dd-a6dd-890ee45e86be",
    "description": "MySQL v8.0, 2 cores, 8GB ram, 10GB storage",
    "display_name": "small",
    "mysql_version": "MYSQL_8_0",
    "storage_gb": 10,
    "tier": "db-n1-standard-2"
}
```

Add the following block to keep the `medium` plan:

```json
{
    "name": "medium",
    "id": "753accb8-52a7-4673-8216-ffc539351aea",
    "description": "MySQL v8.0, 4 cores, 16GB ram, 10GB storage",
    "display_name": "medium",
    "mysql_version": "MYSQL_8_0",
    "storage_gb": 10,
    "tier": "db-n1-standard-4"
}
```

Add the following block to keep the `large` plan:

```json
{
    "name": "large",
    "id": "8f8fc4ab-2b37-41da-bc6a-e915497dac33",
    "description": "MySQL v8.0, 8 cores, 32GB ram, 20GB storage",
    "display_name": "large",
    "mysql_version": "MYSQL_8_0",
    "storage_gb": 20,
    "tier": "db-n1-standard-8"
}
```