---
title: Google Storage Bucket Reference (Beta)
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

<p class="note warning">
  <strong>Warning: </strong>
  The Google Storage Bucket service offering is currently in beta and is intended for evaluation and test purposes only.
  Do not use this product in a production environment.
</p>

This topic provides reference information about the Google Storage Bucket service (csb-google-storage-bucket).
It details the plans, configuration parameters, and binding credentials.

## <a id="plans"></a> Plans

The table below lists the plans for Google Storage Bucket:

| Plan | Description |
|------|-------------|
| private | Private Storage bucket |
| public-read | Public-read Storage bucket  |


## <a id="plans-config"></a> Plan Configuration Parameters

When configuring <%= vars.product_short %> you can add additional plans.
For how to configure plans, see
[Configure Services with Cloud Service Broker for GCP](../installing-with-gcp.html#services).

The following table lists parameters which can only be configured for additional plans:

| Parameter Name       | Values                         | Default   |
|----------------------|--------------------------------|-----------|
| `name`*              | The plan name                  | _n/a_     |
| `id`*                | A unique GUID                  | _n/a_     |
| `description`*       | Description of the new plan    | _n/a_     |
| `display_name`       | Name to use when displaying plan in marketplace    | _n/a_     |
| `free`               | When false, Service Instances of this Service Plan have a cost    | true     |
| `bindable`           | Specifies whether Service Instances of the Service Plan can bind to applications    | true     |
| `plan_updateable`    | Whether the Plan supports upgrade/downgrade/sidegrade to another version    | true     |

<sup>*</sup> Required

You can also add any of the configuration parameters listed in the [parameters](#parameters) section to your plan.

<p class="note">
  <strong>Note:</strong> If you set a parameter at plan level, developers cannot
  change the value when creating or updating service instances.
</p>

## <a id="parameters"></a> Configuration Parameters

You can provision a service by running:

```bash
cf create-service csb-google-storage-bucket PLAN-NAME SERVICE-INSTANCE-NAME -c '{"PARAMETER-NAME": "PARAMETER-VALUE"}'
```

You can update the configuration parameters for a service instance by running:

```bash
cf update-service SERVICE-INSTANCE-NAME -c '{"PARAMETER-NAME": "PARAMETER-VALUE"}'
```

The table below lists the parameters that you can configure, using the `-c` flag, when
provisioning a csb-google-storage-bucket service:

<table>
  <thead>
    <tr>
      <th width="20%">Parameter Name</th>
      <th width="10%">Type</th>
      <th width="40%">Description</th>
      <th width="20%">Default</th>
      <th width="10%">Operation</th>
    </tr>
  </thead>
  <tr>
    <td><code>name</code></td>
    <td>string</td>
    <td>
      The name of the bucket to create.
    </td>
    <td><code>csb-INSTANCE-ID</code></td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>storage_class</code></td>
    <td>string</td>
    <td>
      The Storage Class of the new bucket.
      For more information about valid storage class values, see the <a href="https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/storage_bucket#storage_class">documentation</a>.
    </td>
    <td><code>MULTI_REGIONAL</code></td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>region</code></td>
    <td>string</td>
    <td>
      The region of the bucket instance.
    </td>
    <td><code>us-central1</code> </td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>credentials</code></td>
    <td>string</td>
    <td>
      The GCP credentials.
    </td>
    <td>The value the operator entered for <strong>Credentials</strong> in <%= vars.ops_manager %>.</td>
    <td>provision and update</td>
  </tr>
  <tr>
    <td><code>project</code></td>
    <td>string</td>
    <td>
      The GCP project to use.
    </td>
    <td>The value the operator entered for <strong>Project</strong> in <%= vars.ops_manager %>.</td>
    <td>provision and update</td>
  </tr>
</table>

## <a id="binding-params"></a> Binding Parameters

You can bind a service by running:

```bash
cf bind-service APP-NAME SERVICE-INSTANCE --binding-name BINDING-NAME -c '{"PARAMETER-NAME": "PARAMETER-VALUE"}'
```

The table below lists the parameters that you can configure, using the `-c` flag, when
binding to a csb-google-storage-bucket service:

<table>
  <thead>
    <tr>
      <th width="20%">Parameter Name</th>
      <th width="10%">Type</th>
      <th width="40%">Description</th>
      <th width="20%">Default</th>
    </tr>
  </thead>
  <tr>
    <td><code>role</code></td>
    <td>string</td>
    <td>
      (Required) The role for the account without the "roles" prefix.
      For more information, see the <a href="https://cloud.google.com/iam/docs/understanding-roles">Google documentation</a>.
      Your operator can override the default enumeration. Options are
      <code>roles/storage.objectAdmin</code>, <code>roles/storage.objectCreator</code>, and
      <code>roles/storage.objectViewer</code>.
    </td>
    <td><em>n/a</em></td>
  </tr>
  <tr>
    <td><code>credentials</code></td>
    <td>string</td>
    <td>
      The GCP credentials.
    </td>
    <td>The value the operator entered for <strong>Credentials</strong> in <%= vars.ops_manager %>.</td>
  </tr>
  <tr>
    <td><code>project</code></td>
    <td>string</td>
    <td>
      The GCP project to use.
    </td>
    <td>The value the operator entered for <strong>Project</strong> in <%= vars.ops_manager %>.</td>
  </tr>
</table>

## <a id="binding-creds"></a> Binding Credentials

The format for binding credentials for Google Storage Bucket is as follows:

```json
{
    "bucket_name" : "BUCKET-NAME",
    "id" : "BUCKET-ID",
    "credentials" : "SERVICE-ACCOUNT-CREDENTIALS",
    "email" : "SERVICE-ACCOUNT-EMAIL",
    "name" : "SERVICE-ACCOUNT-NAME",
    "private_key_data" : "SERVICE-ACCOUNT-PRIVATE-KEY",
    "project_id" : "GCP-PROJECT-ID",
    "unique_id" : "SERVICE-ACCOUNT-UNIQUE-ID"
}
```
